body{
	font-family: Ariel, sans-serif;
	margin:0;
	padding:0;
	background-color: light blue;

}
nav {
	background-color: #333;
	color: blue;
	padding: 10px;
	text-align: center;
}

nav a {
	color: pink;
	text-decoration: none;
	margin:0 10px;

}
.car-images {
	display: flex;
	justify-content: space-around;
	margin: 20px;
}
.car{
	text-align: center;
}

.car img {
	width:200px;
	height:150px;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);

}
.car p{
	margin-top: 10px;
	font-weight: bold;

}
footer{
	background-color: ;
	color:fff;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}